# FastAPI
BC_APP_NAME=BC_Cov19 API
BC_DEBUG=false

# Snowflake credentials
BC_SNOWFLAKE_ACCOUNT=abc-xyz
BC_SNOWFLAKE_USER=username
BC_SNOWFLAKE_PASSWORD=password
BC_SNOWFLAKE_WAREHOUSE=COMPUTE_WH
BC_SNOWFLAKE_DATABASE=PUBLIC_DB
BC_SNOWFLAKE_SCHEMA=COVID
BC_SNOWFLAKE_ROLE=ANALYST

# MongoDB
BC_MONGODB_URI=mongodb://localhost:27017
BC_MONGODB_DB=bc_cov19